.page-header
  h1= gradebook.title
  
script(type='text/javascript')
  var data_structure = !{ JSON.stringify(data_structure) }
  var students_structure = !{ JSON.stringify(students_structure) }
  var data = !{ JSON.stringify( data ) }
  var title = !{ JSON.stringify( gradebook.title ) }

script( type='text/javascript', src='/js/gradebook/main.js')
script( type='text/javascript', src='/js/gradebook/tableModel.js')
script( type='text/javascript', src='/js/gradebook/tableView.js')

script( type='text/javascript', src='/bootstrap/js/bootstrap-tooltip.js')

style()
    td span input {
        width: 30px;
    }



#gradebookControls.row
  .span8
     label( value='Time', for='timeline' )
     input( id= 'timeline', type='text' )

  .span4
     ul.nav.nav-pills( style='float: right;')
        li.active
            a.gradebookControlLink( href="#", rel='view')= 'View'
        li
            a.gradebookControlLink( href="#", rel='edit' )= 'Edit'
        li
            a.gradebookControlLink( href="#", rel='structure' )= 'Structure'



.row
  .tableCentering
    #gradebookTable

